<div class='page'>
  <h1 class='page-header'><%= @newsletter.title %></h1>
  <h5>Founded by: <%= @newsletter.founder.full_name %></h5>

  <% @entries.each do |entry| %>
    <div>
      <h3 class='sub-header center'><%= entry.title%></h3>
      <div class='row'>
        <% if entry.photo.url %>
          <div class='columns small-4, medium-2'>
            <img src="<%= entry.photo.url %>" alt='Entry Photo'/>
          </div>
          <div class='columns small-8, medium-10'>
            <%= entry.body %>
          </div>
        <% else %>
          <div class='columns small-12'>
            <%= entry.body %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
